<!-- Used for adding a new Question in database -->
<%- include('../partials/header'); -%>
<div class="loader hidden">
  <img src="/Rolling.gif" style="height: 50px; width: 50px" />
</div>
<div class="addQuestion">
  <form action="/UpdateQuestionList" class="AskQuestion">
    <h3>Post the Question</h3>
    <label for="topic">Topic</label>
    <input
      type="text"
      name="topic"
      placeholder="Write Related Topic with Question"
      required
    />
    <div class="topic error"></div>
    <label for="link">Link</label>
    <input
      type="text"
      name="link"
      placeholder="Add the Link of Question"
      required
    />
    <label for="query">Doubt</label>
    <input type="text" name="query" placeholder="Add Your Doubt" required />
    <button class="btn-success-sec">
      <div class="textC">Submit</div>
    </button>
  </form>
  <script>
    const form = document.querySelector("form");
    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      //spinner activated
      const loader = document.querySelector(".loader");
      loader.className = "loader"; // class "loader hidden"

      //get values of Topic and link of question
      const topic = form.topic.value;
      const link = form.link.value;
      const problem = form.query.value;

      //post request to server
      var xhr = new XMLHttpRequest();
      xhr.open(
        "POST",
        "http://localhost:3000/questions/<%= user %>/UpdateQuestionList"
      );
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onload = function () {
        const data = JSON.parse(xhr.responseText);
        console.log(data.questionID);
        if (data.questionID) {
          location.assign(`/questions/<%= user %>/${data.questionID}`);
        }
      };
      xhr.send(JSON.stringify({ problem, topic, link }));
    });
  </script>
</div>
